.container {
  max-width: 700px;
  margin: 0 auto 0 auto;
  text-align: left;
  line-height: 1.4em; }
  .container h1 {
    font-weight: bold;
    font-size: 4.3em;
    line-height: 1em; }
  .container a {
    text-decoration: none; }
  .container a:link {
    color: #34b9d6; }
  .container a:visited {
    color: #34b9d6; }
  .container a:hover {
    text-decoration: underline;
    color: #176373; }

.pure-menu li a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #34b9d6; }

a {
  transition: color .3s, background-color .3s;
  -webkit-transition: color .3s, background-color .3s; }

ul.posts {
  list-style-type: none;
  margin-bottom: 2em; }

ul.posts li {
  line-height: 1.75em; }

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%; }

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden; }

.site .footer .contact {
  float: left;
  margin-right: 3em; }

#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em; }

#post ul, #post ol {
  margin-left: 1.35em; }

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em; }

#post pre code {
  border: none; }

/* terminal */
#post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF; }

#post pre.terminal code {
  background-color: #333; }

.left {
  float: left; }

.right {
  float: right; }

.centered {
  margin: 0 auto 0 auto;
  text-align: center; }

.clearer {
  clear: both; }
